.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      display: inline-block;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        top: 0;
        right: 0;
        background-color: darkblue;
        transform-origin: bottom left;
        transition: transform 0.25s ease-out;
      }

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: darkblue;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::before {
        transform: scaleX(1);
        transform-origin: bottom right;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}